@using SagraFacile.Web.Extensions
@inject IStringLocalizer<SharedResource> L
<div class="modal fade" id="reservationDetailModal" tabindex="-1" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">@L["ReservationView_ModalTitle"] <strong>#@Reservation?.SequenceNumber</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                @if (Reservation is not null)
                {
                    <div class="mb-2">
                        @L["Receptionist_ColStatus"]:
                        <span class="badge chip-status @StatusClass">@L["Reservation_Status_" + Reservation.Status]</span>
                    </div>
                    <div class="mb-2">
                        @L["Receptionist_ColName"]:
                        @Reservation.CustomerName
                    </div>
                    <div class="mb-2">
                        @L["Receptionist_ColParty"]:
                        <span class="badge bg-secondary"><i class="bi bi-people"></i> @Reservation.PartySize</span>
                    </div>
                    
                    <div class="mb-2">
                        @L["Receptionist_ColWaiting"]: 
                        <span class="chip-wait text-muted ms-1">
                            @WaitingTimeFormatted
                        </span>
                    </div>
                    
                    @if (!string.IsNullOrWhiteSpace(Reservation.Notes))
                    {
                        <div class="text-muted">@Reservation.Notes</div>
                    }
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@L["Common_Close"]</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public required GetReservations.ReservationDto? Reservation { get; set; }

    private string WaitingTimeFormatted {
        get
        {
            if (Reservation?.TimeSinceLastCall.HasValue ?? false)
            {
                return Reservation.TimeSinceLastCall.Value.FormatTimeSpan();
            }

            return Reservation?.WaitingTime.FormatTimeSpan() ?? "Non disponibile";
        }
    }

    private string StatusClass => Reservation?.Status.GetStatusClass() ?? string.Empty;

}

<style>
    .chip-status {
        background-color: var(--background-color);
    }
</style>